{% extends "FormationAppBundle::layout.html.twig" %}


{% block content %}
    <div class="container">
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

       <center> <h1>Votre message a été envoyé. </br>
            Votre demande sera traitée sous 24h </h1></center>
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>
    </div>

{% endblock %}