{% extends "FormationAppBundle::layout.html.twig" %}


{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

        <div class="row">
            <div class="col-md-12">
                <!-- TT-HEDING -->
                <div class="tt-heding type-2">
                    <h4 class="tt-heding-title c-h4 txt-uppercase"><span>Contrat de professionnalisation</span></h4>
                    <div class="tt-heding-desc">Contrat de formation par alternance associant période de formation et mise en situation de travail dans une entreprise.</div>
                </div>
                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>

                <div class="tt-accordion-panel">


                    <div class="tt-accordion-body">
                    <div class="tt-commercial">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class=" tt-heding-title c-h5 txt-uppercase active">
                                    Public concerné :<div class="tt-accordion-icon"></div>
                                </div>

                                <div class="simple-text">
                                    <p>Jeunes de 16 à 25 ans révolus.</br>
                                        Demandeurs d’emplois âgés de 26 ans et plus.</p>
                                </div>
                                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                <div class=" tt-heding-title c-h5 txt-uppercase active">
                                    Durée :<div class="tt-accordion-icon"></div>
                                </div>

                                <div class="simple-text">
                                    <p>En CDD ou CDI d’une durée de 6 à 12 mois, allant jusqu'à 24 mois pour préparer un diplôme ou un titre. Une durée supérieure à 12 mois est possible notamment pour les CQP de branche.</p>
                                </div>
                                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                <div class=" tt-heding-title c-h5 txt-uppercase active">
                                    Rémunération :<div class="tt-accordion-icon"></div>
                                </div>

                                <div class="simple-text">
                                    <img src="{{ asset('bundles/formationapp/img/contratpro.png') }}" >
                                </div>

                                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                <div class=" tt-heding-title c-h5 txt-uppercase active">
                                    Attention toutes les entreprises de plus de 250 salariés sont dans l’obligation d’embaucher 4 % de leur masse salariale en alternance sous peine de pénalités assez lourdes :<div class="tt-accordion-icon"></div>
                                </div>

                                <div class="simple-text">
                                    <p>la Loi Cherpion loi n° 2011-893- du 28 juillet 2011 pour le développement de l’alternance et la sécurisation des parcours professionnels, a pour objectif de développer le nombre de salariés employés sous alternance en modifiant les règles relatives à l’obligation d’embauche de ces salariés, aujourd’hui applicables aux entreprises de plus de 250 salariés conformément à l’article 230 H du code général des impôts. Cette obligation passe de 3 à 4 % pour les entreprises de plus de 250 salariés. </p>
                                </div>
                                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>

                                <div class=" tt-heding-title c-h5 txt-uppercase active">
                                    Quels sont les avantages du contrat de professionnalisation :<div class="tt-accordion-icon"></div>
                                </div>

                                <div class="simple-text">

                                    <ul>
                                        <li>
                                            <p>Favoriser l’insertion professionnelle, répondre aux obligations d’embauches en alternance.</p>
                                        </li>
                                        <li>
                                            <p>Permettre aux nouveaux embauchés d’obtenir une formation qualifiante et une meilleure adaptabilité au poste de travail. La possibilité de pérenniser vos futurs collaborateurs.</p>
                                        </li>
                                        <li>
                                            <p>Ce contrat ouvre droit à une exonération de cotisations (Loi Fillon).</p>
                                        </li>
                                        <li>
                                            <p>Prime pôle emploi de 2000 € pour les demandeurs d’emplois de plus de 26 ans.</p>
                                        </li>
                                        <li>
                                            <p>Prime à la fonction tutorale de 1380 €.</p>
                                        </li>
                                        <li>
                                            <p>Aucune indemnité de fin de contrat à verser.</p>
                                        </li>
                                        <li>
                                            <p>Le salarié en alternance n’est pas comptabilisé dans vos effectifs pour les seuils fiscaux et sociaux.</p>
                                        </li>
                                        <li>
                                            <p>L'AGEFIPH (Fonds pour l'insertion professionnelle des travailleurs handicapés) peut accorder des aides particulières pour l'embauche de travailleurs handicapés (prime à l'embauche, aides à la consolidation de l'emploi, à l'accessibilité des lieux de travail, à l'aménagement des postes).</p>
                                        </li>
                                    </ul>

                                </div>
                                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                <div class=" tt-heding-title c-h5 txt-uppercase active">
                                    Cegix s’engage à vous accompagner sur ce dispositif en prenant en charge l’organisation et la mise en place de vos salariés en alternance :<div class="tt-accordion-icon"></div>
                                </div>

                                <div class="simple-text">
                                    <ul>
                                        <li>
                                            <p>Recherche de candidats / Recrutement.</p>
                                        </li>
                                        <li>
                                            <p>Mise en place en inter ou intra entreprise.</p>
                                        </li>
                                        <li>
                                            <p>Gestion du dossier administratif.</p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                 </div>

                <div class="empty-space marg-sm-b30"></div>
            </div>

        </div>
        <div class="empty-space marg-lg-b100 marg-sm-b50 marg-xs-b50"></div>
    </div>


{% endblock %}