{% extends "FormationAppBundle::layout.html.twig" %}


{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

        <div class="row">
            <div class="col-md-12">
                <!-- TT-HEDING -->
                <div class="tt-heding type-2">
                    <h4 class="tt-heding-title c-h4 txt-uppercase"><span>E-LEARNING</span></h4>
                    <a class="tt-commercial-title c-h5" href="#"><small>Quels sont les avantages de la formation en e-learning ?</small></a>
                    <div class="tt-heding-desc">Rapide, sans contrainte de temps ni de lieu, peu coûteuse avec la possibilité de diffusion à un large public, l’utilisation de modules e-learning seuls ou intégrés à une formation présentielle présente de nombreux avantages..</div>

                </div>
                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>

                <div class="tt-accordion-panel">


                    <div class="tt-accordion-body">
                        <div class="tt-commercial">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                    <div class=" tt-heding-title c-h5 txt-uppercase active">
                                        Un cursus clé en main, une formation en ligne en totale autonomie :<div class="tt-accordion-icon"></div>
                                    </div>


                                    <div class="simple-text">
                                        <p>Un module e-Learning est un format d’apprentissage à distance, d’une durée de 15 à 45 minutes, qui utilise les nouvelles technologies du web et du multimédia et dont l’objectif est de varier les modes d’apprentissage en facilitant l’accès à des ressources et à des services.
                                            Cegix développe ce mode d’apprentissage et propose un catalogue de 75 modules, clef en main, dans tous les domaines de l’entreprise.
                                            Les modules e-Learning Cegix garantissent :</p>
                                        <ul>
                                            <li>
                                                <p>Des cas concrets et tirés de l’expérience d’experts,</p>
                                            </li>
                                            <li>
                                                <p>Une formation ludique et interactive, à moindre coût et sans frais de déplacement,</p>
                                            </li>
                                            <li>
                                                <p>Des séquences d’apprentissage qui permettent de s’interrompre sans perdre le fil,</p>
                                            </li>
                                            <li>
                                                <p>Une plateforme disponible 24H/24H,</p>
                                            </li>
                                            <li>
                                                <p>L’accès à des ressources en ligne</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                    <div class=" tt-heding-title c-h5 txt-uppercase active">
                                        Un apprentissage plus rapide et plus efficace.<div class="tt-accordion-icon"></div>
                                    </div>

                                    <div class="simple-text">
                                        <p>Les nouvelles technologies permettent d’enrichir la pédagogie classique et favorisent un apprentissage plus rapide et plus efficace.
                                            Cegix offrent des modules e-Learning standards seuls et/ou combinés à </p>
                                        <ul>
                                            <li>
                                                <p>Des formations en salle dans le cadre d’un stage mixte</p>
                                            </li>
                                            <li>
                                                <p>Des parcours 100% à distance</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                    <div class=" tt-heding-title c-h5 txt-uppercase active">
                                        Les Avantages d'un module e-Learning<div class="tt-accordion-icon"></div>
                                    </div>

                                    <div class="simple-text">
                                        <p>* Une formation professionnelle à moindre coût</p>
                                        <ul>
                                            <li>
                                                <p>Une diffusion des contenus à un public plus large</p>
                                            </li>
                                            <li>
                                                <p>Une réduction des contraintes de lieu et de temps</p>
                                            </li>
                                            <li>
                                                <p>L’acquisition de connaissances théoriques pour s’entraîner, approfondir ou compléter une formation présentielle</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="simple-text">
                                        <p>* Un mode d’apprentissage individuel et personnalisé</p>
                                        <ul>
                                            <li>
                                                <p>« Où je veux, quand je veux et à mon rythme »</p>
                                            </li>
                                            <li>
                                                <p>Des évaluations en amont et aval automatisées.</p>
                                            </li>
                                            <li>
                                                <p>Une plateforme dédiée (Learning Management System) pour consulter des tableaux de bord personnalisés, connaître le temps de connexion, la progression et accéder à de nombreux services</p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="simple-text">
                                        <p>* Une expérience d’apprentissage originale et ludique</p>
                                        <ul>
                                            <li>
                                                <p>Une nouvelle manière d’apprendre, ludique et interactive grâce à l’assemblage de différents médias (sons, textes, vidéos…)</p>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="empty-space marg-lg-b40 marg-sm-b30"></div>
                                    <div class=" tt-heding-title c-h5 txt-uppercase active">
                                        Cegix s’engage à vous accompagner sur ce dispositif en prenant en charge l’organisation et la mise en place de vos salariés en alternance :  <div class="tt-accordion-icon"></div>
                                    </div>

                                    <div class="simple-text">
                                        <ul>
                                            <li>
                                                <p>Recherche de candidats / Recrutement.</p>
                                            </li>
                                            <li>
                                                <p>Mise en place en inter ou intra entreprise.</p>
                                            </li>
                                            <li>
                                                <p>Gestion du dossier administratif.</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="empty-space marg-sm-b30"></div>
            </div>

        </div>
        <div class="empty-space marg-lg-b100 marg-sm-b50 marg-xs-b50"></div>
    </div>


{% endblock %}