{% extends "FormationAppBundle::layout.html.twig" %}


{% block content %}

    <div class="container">
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

        <div class="row">
            <div class="col-md-12">
                <!-- TT-HEDING -->
                <div class="tt-heding type-2">
                    <h4 class="tt-heding-title c-h4 txt-uppercase"><span>Formation sur-mesure </span></h4>
                    <div class="tt-heding-desc">Votre organisation est toujours en mouvement. Dans ce contexte, l'adaptation rapide des équipes devient un facteur clé de compétitivité. Pour réussir, votre enjeu est double. D'abord, faire de la formation un investissement stratégique au service de la professionnalisation des équipes et donc de la réussite de votre organisation. </div>
                </div>
                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>

                <!-- TT-ACCORDION -->

                    <div class="tt-accordion-panel">
                        <div class=" tt-heding-title c-h5 txt-uppercase active">
                            Notre mission : Vous apporter la meilleure formation :<div class="tt-accordion-icon"></div>
                        </div>
                        <div class="tt-accordion-body active">
                            <div class="tt-commercial">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="simple-text size-3 color-3">

                                            <p>Chaque formation sur-mesure Cegix est adaptée à la juste mesure des enjeux de votre entreprise. Nous nous attachons à faire vivre aux apprenants des expériences originales et innovantes, pour les rendre acteurs de leur formation et leur permettre de s'approprier parfaitement les nouvelles pratiques.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-accordion-panel">
                        <div class=" tt-heding-title c-h5 txt-uppercase">
                            Une nouvelle méthode de formation :  <div class="tt-accordion-icon"></div>
                        </div>
                        <div class="tt-accordion-body">
                            <div class="tt-commercial">
                                <div class="row">

                                    <div class="col-sm-12">

                                        <div class="simple-text size-3 color-3">
                                            <p>La formation en entreprise se met plus que jamais au service de la stratégie des dirigeants. Votre partenaire formation doit être parfaitement conscient de ces nouveaux enjeux. Il doit vous proposer des dispositifs de formation sur-mesure clairement professionnalisant, engageants, innovants, et en prouver l'efficacité.</p>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="empty-space marg-sm-b30"></div>
            </div>

        </div>
        <div class="empty-space marg-lg-b100 marg-sm-b50 marg-xs-b50"></div>
    </div>


{% endblock %}