{% extends "FormationAppBundle::layout.html.twig" %}


{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="empty-space marg-lg-b80 marg-sm-b50 marg-xs-b30"></div>

        <div class="row">
            <div class="col-md-12">
                <!-- TT-HEDING -->
                <div class="tt-heding type-2">
                    <h4 class="tt-heding-title c-h4 txt-uppercase"><span>Formation en intra</span></h4>
                    <div class="tt-heding-desc">Lorsqu’une entreprise choisit une formation auprès d’un organisme de formation, il faut faire le choix entre la formation inter-entreprise, la formation intra-entreprise ou encore la formation interne. </div>
                </div>
                <div class="empty-space marg-lg-b40 marg-sm-b30"></div>

                <div class="tt-accordion-panel">

                    <div class="tt-accordion-body active">
                        <div class="tt-commercial">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="simple-text size-3 color-3">
                                        <p>La formation en intra est une formation dédiée à un seul client. La session lui appartient et seules les personnes qu'il inscrit peuvent y participer.</br>
                                            Ce cours privé se déroule la plupart du temps dans les locaux du client mais ils peuvent tout aussi bien se tenir chez Cegix formation ou sur un site tiers. Lorsque la formation a lieu dans une salle extérieure et non chez le client, on parle de formation extra-résidentielle.</br>
                                            De plus, le prix est forfaitaire, ce qui est très intéressant quand l'entreprise a plusieurs salariés à former.</br>
                                            Il n'y a pas de date fixée à l'avance, ni de calendrier ou de planning. En effet, l'entreprise et Cegix formation déterminent librement ensemble la date pour l'animation de la formation intra.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tt-accordion-panel">
                    <div class="tt-heding-title c-h5 txt-uppercase">
                        Les avantages financiers :<div class="tt-accordion-icon"></div>
                    </div>
                    <div class="tt-accordion-body active">
                        <div class="tt-commercial">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="simple-text size-3 color-3">
                                        <p>La formation intra-entreprise présente des avantages financiers puisque son principe basé sur un coût fixe prépondérant et peu de frais variables entraîne des économies d'échelle importantes.</br>
                                            Attention : cela nécessite quand même que l'entreprise soit capable de mobiliser au moins 4 personnes en même temps.</br>
                                            Elle permet aussi de réduire les coûts liés aux déplacements des stagiaires.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tt-accordion-panel">
                    <div class="tt-heding-title c-h5 txt-uppercase">
                        Les ressources humaines :<div class="tt-accordion-icon"></div>
                    </div>
                    <div class="tt-accordion-body active">
                        <div class="tt-commercial">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="simple-text size-3 color-3">
                                        <p>Cette solution offre également un avantage au niveau des ressources humaines. En effet, elle offre la possibilité de viser un objectif complémentaire de motivation d’équipe puisqu'elle permet de regrouper un projet d'équipe sur un même site tout en la protégeant des interférences professionnelles habituelles.</br>
                                            En revanche, un important travail de la part de l'entreprise et de Cegix formation doit être effectué en amont.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tt-accordion-panel">
                    <div class="tt-heding-title c-h5 txt-uppercase">
                        L'adaptation de la formation :<div class="tt-accordion-icon"></div>
                    </div>
                    <div class="tt-accordion-body active">
                        <div class="tt-commercial">
                            <div class="row">

                                <div class="col-sm-12">

                                    <div class="simple-text size-3 color-3">
                                        <p>Cegix formation peut adapter le contenu en fonction de ce que souhaite l'entreprise. </br>
                                            Le contenu théorique et les travaux pratiques peuvent donc être adaptés. Il est donc possible de demander à l'organisme de formation des travaux pratiques sur mesure. Cegix peut s'assurer que l'environnement technologique soit le même que celui utilisé au sein de l'entreprise.</br>
                                            Notez-le : il est également possible pour l'entreprise de choisir le formateur. D'une manière générale, Cegix Formation fera une proposition de CV</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-space marg-sm-b30"></div>
            </div>

        </div>
        <div class="empty-space marg-lg-b100 marg-sm-b50 marg-xs-b50"></div>
    </div>


{% endblock %}